<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>Rasmus</string>
	<key>NSWindow Frame TTWindow</key>
	<string>567 443 979 601 0 0 1920 1178 </string>
	<key>NSWindow Frame TTWindow Rasmus</key>
	<string>12 534 745 631 0 0 1920 1178 </string>
	<key>Startup Window Settings</key>
	<string>Rasmus</string>
	<key>StringEncodings</key>
	<array>
		<integer>4</integer>
	</array>
	<key>Window Settings</key>
	<dict>
		<key>Rasmus</key>
		<dict>
			<key>BackgroundColor</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlVU5TUkdCgAIQAU8QJDAuMDk3ODI2MDY0IDAuMDk3ODI2MDY0IDAuMDk3ODI2MDY0ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKprrfCxc0AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA1g==</data>
			<key>columnCount</key>
			<integer>120</integer>
			<key>CursorBlink</key>
			<false/>
			<key>CursorColor</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlVU5TUkdCgAIQAU8QDzAgMC45MjkzOTM1MyAxANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKUmaKtsLgAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAwQ==</data>
			<key>deleteSendsBackspace</key>
			<true/>
			<key>Font</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXplVk5TTmFtZVhOU2ZGbGFnc4ADI0AoAAAAAAAAgAIQEFtJbmNvbnNvbGF0YdIXGBkaWCRjbGFzc2VzWiRjbGFzc25hbWWiGhtWTlNGb250WE5TT2JqZWN0CBEaHykyNzo/QVNYXmdudXyFh5CSlKClrrm8wwAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADM</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontHeightSpacing</key>
			<real>0.8991935551166534</real>
			<key>keyMapBoundKeys</key>
			<dict>
				<key>$F708</key>
				<string>[25~</string>
				<key>$F709</key>
				<string>[26~</string>
				<key>$F70A</key>
				<string>[28~</string>
				<key>$F70B</key>
				<string>[29~</string>
				<key>$F70C</key>
				<string>[31~</string>
				<key>$F70D</key>
				<string>[22~</string>
				<key>$F70E</key>
				<string>[33~</string>
				<key>$F70F</key>
				<string>[34~</string>
				<key>$F729</key>
				<string>[H</string>
				<key>$F72B</key>
				<string>[F</string>
				<key>$F72C</key>
				<string>[5~</string>
				<key>$F72D</key>
				<string>[6~</string>
				<key>^F702</key>
				<string></string>
				<key>^F703</key>
				<string></string>
				<key>F704</key>
				<string>OP</string>
				<key>F705</key>
				<string>OQ</string>
				<key>F706</key>
				<string>OR</string>
				<key>F707</key>
				<string>OS</string>
				<key>F708</key>
				<string>[15~</string>
				<key>F709</key>
				<string>[17~</string>
				<key>F70A</key>
				<string>[18~</string>
				<key>F70B</key>
				<string>[19~</string>
				<key>F70C</key>
				<string>[20~</string>
				<key>F70D</key>
				<string>[21~</string>
				<key>F70E</key>
				<string>[23~</string>
				<key>F70F</key>
				<string>[24~</string>
				<key>F710</key>
				<string>[25~</string>
				<key>F711</key>
				<string>[26~</string>
				<key>F712</key>
				<string>[28~</string>
				<key>F713</key>
				<string>[29~</string>
				<key>F714</key>
				<string>[31~</string>
				<key>F715</key>
				<string>[32~</string>
				<key>F716</key>
				<string>[33~</string>
				<key>F717</key>
				<string>[34~</string>
				<key>F728</key>
				<string>[3~</string>
				<key>F729</key>
				<string>scrollToBeginningOfDocument:</string>
				<key>F72B</key>
				<string>scrollToEndOfDocument:</string>
				<key>F72C</key>
				<string>scrollPageUp:</string>
				<key>F72D</key>
				<string>scrollPageDown:</string>
				<key>~F704</key>
				<string>[17~</string>
				<key>~F705</key>
				<string>[18~</string>
				<key>~F706</key>
				<string>[19~</string>
				<key>~F707</key>
				<string>[20~</string>
				<key>~F708</key>
				<string>[21~</string>
				<key>~F709</key>
				<string>[23~</string>
				<key>~F70A</key>
				<string>[24~</string>
				<key>~F70B</key>
				<string>[25~</string>
				<key>~F70C</key>
				<string>[26~</string>
				<key>~F70D</key>
				<string>[28~</string>
				<key>~F70E</key>
				<string>[29~</string>
				<key>~F70F</key>
				<string>[31~</string>
				<key>~F710</key>
				<string>[32~</string>
				<key>~F711</key>
				<string>[33~</string>
				<key>~F712</key>
				<string>[34~</string>
			</dict>
			<key>name</key>
			<string>Rasmus</string>
			<key>rowCount</key>
			<integer>40</integer>
			<key>SelectionColor</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlVU5TUkdCgAIQAU8QIjAuMDg4OTcwNTI3IDAuNDI3MDc2OTQgMC42NDY3MzkxMwDSFBUWF1gkY2xhc3Nlc1okY2xhc3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1ddZGt4foCCp6y1wMPLAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANQ=</data>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlV05TV2hpdGWAAhADQjEA0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRreICChIeMlaCjqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0</data>
			<key>TextColor</key>
			<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlVU5TUkdCgAIQAU8QHjAuODM2OTU2NSAwLjgzNjk1NjUgMC44MzY5NTY1ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKjqLG8v8cAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==</data>
			<key>type</key>
			<string>Window Settings</string>
			<key>UseBoldFonts</key>
			<true/>
			<key>UseBrightBold</key>
			<true/>
			<key>WindowTitle</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
