<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
INSTALLATION
  
  sed 's/$USER/'$USER'/g' com.spotify.afs.mount.plist > ~/Library/LaunchAgents/com.spotify.afs.mount.plist
  mkdir -p ~/Library/Scripts
  cp com.spotify.afs.mount.sh ~/Library/Scripts
  launchctl load ~/Library/LaunchAgents/com.spotify.afs.mount.plist


CONFIGURATION
  
  See com.spotify.afs.mount.sh

-->
<plist version="1.0">
<dict>
  <key>Label</key><string>com.spotify.afs.mount</string>
  <key>Program</key><string>/Users/$USER/Library/Scripts/com.spotify.afs.mount.sh</string>
  <key>RunAtLoad</key><true/>
  <key>LowPriorityIO</key><false/>
</dict>
</plist>